.fixed-head {
    overflow-y: auto;
    height: 300px;
    background-color: #001f3f;
    color: whitesmoke;
    border-radius: 10px;
    border: none;
    box-shadow: 10px 14px 20px 17px
        rgba(18, 71, 123, 0.76);
    -webkit-box-shadow: 10px 14px 20px
        17px rgba(18, 71, 123, 0.76);
    -moz-box-shadow: 10px 14px 20px 17px
        rgba(18, 71, 123, 0.76);
}

.fixed-head thead {
    background-color: #001f3f;
    position: sticky;
    top: 0;
}

.table-hover tbody tr:hover td {
    background-color: #13274f;
    /* background-image: linear-gradient(147deg, #000000 0%, #04619f 74%); */
}
