/* .row {
    margin-bottom: 20px;
} */

body {
    background-color: #ebeff5;

    height: 100%;
    display: flex;
    flex-direction: column;
}

.table {
    border: none;
    box-shadow: 0 1px 20px 0
        rgba(0, 0, 0, 0.1);
}

.not_footer {
    flex: 1 0 auto;
}
