.row {
    margin-bottom: 40px;
}

body {
    background-color: #000000;
    background-image: linear-gradient(
        147deg,
        #000000 0%,
        #2c3e50 74%
    );
    height: 100%;
    display: flex;
    flex-direction: column;
}

.table {
    border: none;
    box-shadow: 0 1px 20px 0
        rgba(0, 0, 0, 0.1);
}

.not_footer {
    flex: 1 0 auto;
}
