<style>
    .fa-facebook-square {
        padding-left: 45%;
        color: #3b5998;
    }

    .fa-linkedin {
        color: #2867b2;
    }

    .fa-github-square {
        color: #fafafa;
    }

    .socialWrapper a {
        padding-left: 0.25%;
        padding-right: 0.25%;
        margin: auto;
        position: relative;
    }

    footer {
        flex-shrink: 0;
    }

    .footer p {
        text-align: center;
        color: #fafafa;
        margin: 0;
    }
</style>

<!-- footer -->
<footer class="footer bg-inverse bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 socialWrapper">
                <a href="#"><i class="fa fa-facebook-square fa-3x"></i></a>
                <a href="#"><i class="fa fa-github-square fa-3x"></i></a>
                <a href="#"><i class="fa fa-linkedin fa-3x"></i></a>
            </div>
        </div>
        <p>Made with ❤️ by NSUT CODERS</p>
    </div>
</footer>